<!DOCTYPE html>
<html lang="en">

<head>
    <!-- $title =  {{pascalCase name}} -->
    <!-- @import partials/head -->
    <!-- @import partials/stylesheets -->
</head>

<body class="{{name}}_page {{import}}__layout">
    <div id="wrapper">
        <!-- PLOP_KIT_IMPORT -->
        <!-- @import {{ route}}/_frame1.kit -->
    </div>
    <!-- @import partials/javascripts -->
</body>

</html>