$imgUnits: '../images/units/';
$imgUI: '../images/ui/';
.unit {
  &-redneck {
    background: url($imgUnits + 'redneck.png');
    @include background-img(center center, contain);
    @include box(7rem, 10.4rem);
  }
  &-background {
    width: 9rem;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: 0;
      width: 8rem;
      height: 2rem;
      border-radius: 1rem;
      background-color: #0000003b;
    }
  }

  &-level {
    background-color: #13ca13;
    background: url($imgUnits + 'level.png');
    @include background-img(center center, 100% 100%);
    @include box(2.5rem);
    font-size: 1rem;
    color: white;
    font-weight: bold;
    padding-bottom: 1rem;
  }
}
.ui {
  &-background {
    width: 9rem;
    height: 7rem;
    font-size: 1.2rem;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: 0;
      width: 9rem;
      height: 4rem;
      border-radius: 0.6rem;
      background-color: #0000003b;
      border: solid 0.1rem #ffffff38;
    }

    &:hover {
      filter: brightness(1.1);
    }
  }
}
.icon {
  &-shop {
    background: url($imgUI + 'icon-shop.png');
    @include background-img(center center, 100% 100%);
    @include box(5rem, 4.5rem);
  }
  &-units {
    background: url($imgUI + 'icon-units.png');
    @include background-img(center center, 100% 100%);
    @include box(4.3rem, 4rem);
  }
  &-stages {
    background: url($imgUI + 'icon-stages.png');
    @include background-img(center center, 100% 100%);
    @include box(5.2rem, 5.4rem);
  }
  &-level {
    background: url($imgUI + 'icon-level.png');
    @include background-img(center center, 100% 100%);
    @include box(3.8rem);
  }
  &-fuel {
    background: url($imgUI + 'icon-fuel.png');
    @include background-img(center center, 100% 100%);
    width: 3.2rem;
    height: 4rem;
  }
  &-token {
    background: url($imgUI + 'icon-token.png');
    @include background-img(center center, 100% 100%);
    width: 3.2rem;
    height: 3.8rem;
  }
  &-box1 {
    background: url($imgUI + 'icon-box.png');
    @include background-img(center center, 100% 100%);
    @include box(5.2rem, 3.9rem);
  }
  &-box2 {
    background: url($imgUI + 'icon-box2.png');
    @include background-img(center center, 100% 100%);
    @include box(5.2rem, 3.9rem);
  }
  &-upbox {
    background: url($imgUI + 'upgrade_items.png');
    @include background-img(center center, 100% 100%);
    @include box(3.4rem, 3.2rem);
  }
}
.btn {
  &-game {
    text-shadow: 0.2rem 0.2rem 0px rgb(0 0 0 / 30%);
    border: 0.2rem solid #000000cf;
  }

  &-green {
    background: #659c1a;
    box-shadow: inset 0px 2rem 0.6rem #5e8f00, inset 0px -0.5rem 0px rgb(0 0 0 / 10%);
  }

  &-blue {
    background: #3189b7;
    box-shadow: inset 0px 2rem 0.6rem #0e77ae, inset 0px -0.5rem 0px rgb(0 0 0 / 10%);
  }
  &-red {
    background: #e30600;
    box-shadow: inset 0px 2rem 0.6rem #b20a27, inset 0px -0.5rem 0px #830a0e;
  }

  &-type1 {
    background: url($imgUI + 'button.png');
    @include background-img(center center, 100% 100%);
    width: 10rem;
    height: 3rem;

    &:hover {
      filter: brightness(1.1);
    }
  }
}
