$pathBackground: '../images/background/';
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &-frame1 {
    background: url($pathBackground + 'background.jpg');
    @include background-img(center center, contain);
    @include box(192rem, 108rem);
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff2b;
    }
  }
}
